version: 2.1
jobs:
  build:
    docker:
      - image: circleci/golang:1.15
        
    steps:
      - checkout
      # ... steps for building/testing app ...

      - setup_remote_docker:
          version: 19.03.13

      # build and push Docker image
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t mydocker/circleci-demo-docker:$TAG .
          